@using System.Globalization
@using Core.Entities.Repeats
@model Core.Entities.Session

@{
    ViewData["Title"] = "Home Page";
}

<div>
    <div>
        <h3>Session @Model.Day.ToString()</h3>
        @foreach (var round in Model.Rounds)
        {
            for (var r = 0; r < round.Rounds; r++)
            {
                foreach (var exercise in round.Exercises)
                {
                    <div>
                        <p>@exercise.Name</p>
                        @foreach (var repeat in exercise.Repeats)
                        {
                            for (var s = 0; s < repeat.Sets; s++)
                            {
                                switch (repeat)
                                {
                                    case SingleRepeat singleRepeat:
                                        <p>@(singleRepeat.Weight != null ? $"{singleRepeat.Weight.ToString()} × " : string.Empty)@singleRepeat.Repeats.ToString()</p>
                                        break;
                                    case MultiRepeat multiRepeat:
                                        <p>@(multiRepeat.Weight != null ? $"{multiRepeat.Weight.ToString()} × " : string.Empty)@string.Join("+", multiRepeat.Repeats)</p>
                                        break;
                                    case StaticRepeat staticRepeat:
                                        <p>@staticRepeat.Time.TotalSeconds.ToString(CultureInfo.CurrentCulture) sec</p>
                                        break;
                                }
                            }
                        }
                    </div>
                }
            }
        }
    </div>
</div>